  .nav{
	
	 background-image: url("img-15.jpg");
	color:white ;
	
}
body{
	background-color: black;
	text-align: center;
	color: white;
}	 
  	 
.container{
	text-align: center;
	margin-left: 30px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
	padding-right: 10%;
	

}
form{
	border: 1px solid black;
	text-align: center;
	background-color: rgb(9, 74, 73);
	color:white;
	font-family: sans-serif;
	text-decoration:none
}

table{
	margin-top: 10px;
	background-color: rgb(138, 255, 249);
}

img{
	height: 400px;
	width: 400px;
}




